*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-image: url(https://wallpapershome.com/images/wallpapers/macos-big-sur-1280x720-dark-wwdc-2020-22655.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em;
    width: 100%;
    height: 100vh;
    @media screen and (max-width: 480px) {
    padding: 0.8em;
}
}

.video-bg {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    
    video {
     width: 100%;
     height: 100%;
     object-fit: cover;
    }
}


.container{
    position: relative;
    padding: 5rem 15rem;
    border-radius: 10px;
    background: #2e2525a9;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.result_images{
    display: flex;
    column-gap: 7rem;
    margin-top: 1rem;
    mix-blend-mode: multiply;
}

.result_images img{
    width: 140px;    
}



.result{
    text-align: center;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    margin-top: 1.5rem;
}

.option_images{
    display: flex;
    margin-top: 2.5rem;
    align-items: center;
    justify-content: space-between;
    mix-blend-mode: multiply; 
    
}

.option_image img{
    width: 120px;
    padding: auto;
    mix-blend-mode: multiply;
    
}

.options{
    color: #ffffff;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
    display: flex;
    margin-right: 0;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    
}


.option_image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5rem;
    justify-content: space-between;
    margin-top: 2rem;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
    
    
}
.option_image:hover{
opacity: 1;
}
.option_image.active{
    opacity: 1;
}
.option_image img{
pointer-events: none;
}

.user_score, .computer_score{
    font-size: 2rem;
    color: rgb(255, 255, 255);
    margin-top: 1.5rem;
}

.reset {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 1rem; 
    margin-right: 2rem; 
    background-color: #4e4caf; 
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px 20px; 
    font-size: 25px; 
    cursor: pointer;
    border-radius: 5px;
}

.reset:active {
    background-color: #3e538e;
    transform: translateY(2px); 
}


.reset:hover {
    background-color: #4553a04f; 
  }

.option_image p{
    color: #ffffff ; 
    text-shadow: 1px 1px 1px rgb(255, 255, 255); 
    font-size: 3rem;
    margin-top: 2rem;
    pointer-events: none;
    
}


